In [1]:
import pandas as pd
import numpy as np
import chardet

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
%cd gdrive/MyDrive/News+LPReports/News-Classifiers/summary

/content/gdrive/MyDrive/News+LPReports/News-Classifiers/summary

# Add in short names to find match

In [4]:
df1 = pd.read_csv('data/150621_signal_google_predictions.csv', index_col=0)
df1.reset_index(drop=True, inplace=True)
df1.dropna(subset=['Search Query'], inplace=True)
df1.head(3)

  Search Query                       Date  ... clinical fundraising
0      Binance  2021-05-27 22:50:00+00:00  ...      0.0         0.0
1      Binance  2021-05-27 22:50:00+00:00  ...      0.0         0.0
2      Binance  2021-05-27 22:50:00+00:00  ...      0.0         0.0

[3 rows x 11 columns]

In [5]:
df2 = pd.read_excel(open('data/vpc_master_070621.xlsx', 'rb'), sheet_name='Master')
df2.head(3)

           Vertex Entity  ...                           Website
0  Vertex Ventures China  ...  https://73hours.world.taobao.com
1  Vertex Ventures China  ...                 http://www.91.com
2  Vertex Ventures China  ...          http://www.aagenergy.com

[3 rows x 14 columns]

In [6]:
# remove companies we are not tracking
df2.dropna(subset=['Company Name for Search'], inplace=True)
df2.head(3)

           Vertex Entity  ...                           Website
0  Vertex Ventures China  ...  https://73hours.world.taobao.com
4  Vertex Ventures China  ...     httphttp://www.arraycomm.com/
6  Vertex Ventures China  ...        https://www.bluexmicro.com

[3 rows x 14 columns]

In [7]:
df3 = df2[['Company Name for Search', 'short_names']]
df3.head(3)

  Company Name for Search short_names
0                "高跟73小时"    "高跟73小时"
4               ArrayComm   ArrayComm
6                   联睿微电子       联睿微电子

In [8]:
# create a dictionary for mapping search query to short names
s = df3.groupby('Company Name for Search')['short_names'].apply(lambda x: x.tolist())
name_dict = s.to_dict()
print(name_dict)

{'"100课堂"': ['"100课堂"'], '"NEIWAI内外"': ['"NEIWAI内外"'], '"乐车邦"': ['"乐车邦"'], '"人健药业"': ['"人健药业"'], '"即刻APP"': ['"即刻APP"'], '"好贷网"': ['"好贷网"'], '"寿光蔬菜产业控股集团"': ['"寿光蔬菜产业控股集团"'], '"晓多料技"': ['"晓多料技"'], '"比科奇"微电子': ['"比科奇"微电子'], '"深视创新"': ['"深视创新"'], '"猛犸反欺诈"': ['"猛犸反欺诈"'], '"积木盒子"': ['"积木盒子"'], '"穿衣助手"': ['"穿衣助手"'], '"网龙华渔"': ['"网龙华渔"'], '"聚土网"': ['"聚土网"'], '"芯驰科技"': ['"芯驰科技"'], '"花卷商城"': ['"花卷商城"'], '"讯创电子"': ['"讯创电子"'], '"钜力能"': ['"钜力能"'], '"高跟73小时"': ['"高跟73小时"'], '17Live': ['17Live'], 'Ace Turtle Services': ['Ace Turtle '], 'Active.ai': ['Active AI'], 'Adaptive Shield': ['Adaptive Shield'], 'Ambidextrous.ai': ['Ambidextrous'], 'Aporia': ['Aporia'], 'ArrayComm': ['ArrayComm'], 'Aruna': ['Aruna'], 'Astound.ai': ['Astound'], 'Atidot': ['Atidot'], 'Axonius': ['Axonius'], 'Bicycle Therapeutics': ['Bicycle '], 'Binance': ['Binance'], 'Bites': ['Bites'], 'BlackThorn Therapeutics': ['BlackThorn'], 'Boundless Bio': ['Boundless Bio'], 'Broker Buddha': ['Broker Buddha'], 'CODA': ['CODA'], 'Cicil startup': ['Cicil '], 'Codefresh': ['Codefresh'], 'Cyberhaven': ['Cyberhaven'], 'Cylus cybersecurity': ['Cylus '], 'Cymulate': ['Cymulate'], 'D-Fend Solutions': ['D-Fend'], 'DBmaestro': ['DBmaestro'], 'DataRails': ['DataRails'], 'Datos Health': ['Datos'], 'Desktop Metal': ['Desktop Metal'], 'Dor Technologies': ['Dor'], 'Dot Compliance': ['Dot '], 'EarLens': ['EarLens'], 'EasySend': ['EasySend'], 'ElevateBio': ['ElevateBio'], 'Elevation Oncology': ['Elevation'], 'EndoGastric Solutions': ['EndoGastric '], 'Epirium Bio': ['Epirium Bio'], 'Evisort': ['Evisort'], 'Firstcry': ['Firstcry'], 'Fleetonomy': ['Fleetonomy'], 'Flutura': ['Flutura'], 'Forestry.io': ['Forestry'], 'Fyde': ['Fyde'], 'Geek+': ['Geek+'], 'Gitpod': ['Gitpod'], 'GlowRoad': ['GlowRoad'], 'Grab': ['Grab'], 'Gredu': ['Gredu'], 'Guesty': ['Guesty'], 'Hansel.io': ['Hansel'], 'HappyFresh': ['HappyFresh'], 'Hasura': ['Hasura'], 'Hertzwell': ['Hertzwell'], 'HighArc': ['HighArc'], 'Hotelogix': ['Hotelogix'], 'IVF Access': ['IVF Access'], 'Identiq': ['Identiq'], 'Innoviz Technologies': ['Innoviz '], 'Interana': ['Interana'], 'Interstice Labs': ['Interstice'], 'Ivantis': ['Ivantis'], 'Janio Singapore': ['Janio '], 'Kissht': ['Kissht'], 'Kona Medical': ['Kona'], 'Kryon': ['Kryon'], 'KuKuFM': ['KuKuFM'], 'LOHO眼镜': ['LOHO眼镜'], 'LaunchDarkly': ['LaunchDarkly'], 'LeaseLock': ['LeaseLock'], 'Licious': ['Licious'], 'Loris.ai': ['Loris'], 'Moximed': ['Moximed'], 'Nexite': ['Nexite'], 'Nium': ['Nium'], 'Nucleai': ['Nucleai'], 'Nuvaira': ['Nuvaira'], 'Obsidian Therapeutics': ['Obsidian'], 'Olympic Ophthalmics': ['Olympic '], 'OpsLevel': ['OpsLevel'], 'OwnBackup': ['OwnBackup'], 'Palleon Pharmaceuticals': ['Palleon '], 'PatSnap': ['PatSnap'], 'Payfazz': ['Payfazz'], 'PerimeterX': ['PerimeterX'], 'Quilt Data': ['Quilt '], 'RateS indonesia social commerce': ['RateS '], 'Recko.io': ['Recko'], 'Reebonz': ['Reebonz'], 'RoomMe': ['RoomMe'], 'ScyllaDB': ['Scylla'], 'Seebo Interactive': ['Seebo'], 'Signzy': ['Signzy'], 'Sokowatch': ['Sokowatch'], 'SolidEnergy Systems': ['SolidEnergy '], 'Speedoc': ['Speedoc'], 'StoreHub': ['StoreHub'], 'Synup': ['Synup'], 'Sögur': ['Saga'], 'Tabit Restaurant Technologies': ['Tabit '], 'TaniHub': ['TaniHub'], 'Taranis': ['Taranis'], 'Testlio': ['Testlio'], 'Thriver': ['Thriver'], 'Tickled Media': ['Tickled Media'], 'Tjetak': ['Tjetak'], 'Trigo Vision': ['Trigo '], 'Tulip Interfaces': ['Tulip '], 'Turnkey Lender': ['Turnkey '], 'Twentyeight-Seven': ['Twentyeight-Seven'], 'Unity SCM': ['Unity'], 'Upright Technologies': ['Upright '], 'Upsolver': ['Upsolver'], 'Upswift': ['Upswift'], 'Validus Capital': ['Validus '], 'Valtix': ['Valtix'], 'Vee volunteers startup': ['Vee'], 'Verbit': ['Verbit'], 'Very Good Security': ['Very Good Security'], 'Vintra': ['Vintra'], 'Warung Pintar': ['Warung Pintar'], 'WireX Systems': ['WireX '], 'Xpressbees': ['Xpressbees'], 'Yoho!有货': ['Yoho!有货'], 'Yotpo': ['Yotpo'], 'ZEPL': ['ZEPL'], 'ZenCity': ['ZenCity'], 'insurtech Sunday': ['Sunday'], 'soCash': ['soCash'], 'useget fintech': ['Get'], 'watchful.ai': ['Watchful'], '上海宠幸宠物用品有限公司': ['上海宠幸宠物用品有限公司'], '九诺医疗': ['九诺医疗'], '云英谷': ['云英谷'], '伏达半导体': ['伏达半导体'], '优维科技': ['优维科技'], '依链科技': ['依链科技'], '光粒科技+AR': ['光粒科技+AR'], '创响生物': ['创响生物'], '华东重机': ['华东重机'], '和铂医药': ['和铂医药'], '品钛': ['品钛'], '图鸭科技': ['图鸭科技'], '地平线机器人': ['地平线机器人'], '婚礼纪APP': ['婚礼纪APP'], '学霸君': ['学霸君'], '宇树科技': ['宇树科技'], '居理新房': ['居理新房'], '平台"宅米"': ['平台"宅米"'], '平台荟品仓': ['平台荟品仓'], '微芯生物': ['微芯生物'], '志凌海纳': ['志凌海纳'], '慧智微电子': ['慧智微电子'], '斯达领科': ['斯达领科'], '无锡戴可思生物科技有限公司': ['无锡戴可思生物科技有限公司'], '星糖miniKTV': ['星糖miniKTV'], '曦智科技': ['曦智科技'], '果小美无人货架': ['果小美无人货架'], '楽楽茶': ['楽楽茶'], '橙子自动化': ['橙子自动化'], '海普润': ['海普润'], '海鹚科技': ['海鹚科技'], '王小卤': ['王小卤'], '王饱饱': ['王饱饱'], '环球捕手': ['环球捕手'], '移芯通信': ['移芯通信'], '糖豆广场舞': ['糖豆广场舞'], '联睿微电子': ['联睿微电子'], '要出发周边游': ['要出发周边游'], '谛声科技': ['谛声科技'], '轻松到家科技': ['轻松到家科技'], '錼创科技': ['錼创科技'], '驿氪': ['驿氪']}

In [9]:
# map short names to search queries
# remove all whitespaces
df1['short_name'] = df1['Search Query'].apply(lambda x: name_dict[x][0].replace(' ',''))
df1.head(3)

  Search Query                       Date  ... fundraising short_name
0      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance
1      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance
2      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance

[3 rows x 12 columns]

In [10]:
# match = 1 if short name appears in article
match_list = []
for idx,row in df1.iterrows():
  if row['short_name'] in row['article']:
    match_list.append(1)
  else:
    match_list.append(0)

df1['match'] = match_list
df1.head(3)

  Search Query                       Date  ... short_name match
0      Binance  2021-05-27 22:50:00+00:00  ...    Binance     0
1      Binance  2021-05-27 22:50:00+00:00  ...    Binance     1
2      Binance  2021-05-27 22:50:00+00:00  ...    Binance     0

[3 rows x 13 columns]

## Add in 1 sentence before and after match

In [11]:
# remove indexes if they exceed this range (from original df)
indexes = list(df1.index.values)
first_idx = indexes[0]
last_idx = indexes[-1]

In [12]:
# retrieve indexes with match = 1
df3 = df1[df1['match'] == 1.0]
idx_list = list(df3.index.values)

# add 1 sentence before and 1 sentence after to the list
new_list = []
for i in idx_list:
  prior = i - 1
  new_list.append(prior)

  after = i + 1
  new_list.append(after)

idx_list = idx_list + new_list

# remove duplicates
idx_list = list(dict.fromkeys(idx_list))
# sort in ascending order
idx_list.sort()

# remove first and last element if it exceeds the index range
if idx_list[0] < first_idx:
  idx_list.pop(0)

elif idx_list[-1] > last_idx:
  idx_list.pop(-1)

In [13]:
for idx in idx_list:
  df1.loc[idx, 'match'] = 1

df1.head(3)

  Search Query                       Date  ... short_name match
0      Binance  2021-05-27 22:50:00+00:00  ...    Binance   1.0
1      Binance  2021-05-27 22:50:00+00:00  ...    Binance   1.0
2      Binance  2021-05-27 22:50:00+00:00  ...    Binance   1.0

[3 rows x 13 columns]

# new stuff

In [14]:
# remove sentences without matches
df = df1[df1['match'] == 1]
df.reset_index(inplace=True)
df.head(3)

   index Search Query                       Date  ... fundraising short_name  match
0      0      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance    1.0
1      1      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance    1.0
2      2      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance    1.0

[3 rows x 14 columns]

In [15]:
df.shape

(674, 14)

In [16]:
# get dataframe full of signals
signal_df = df.loc[:,'revenue':'fundraising']
signal_df.head(3)

   revenue  product  market  partnership  mgmt  clinical  fundraising
0      1.0      0.0     0.0          0.0   0.0       0.0          0.0
1      0.0      0.0     1.0          0.0   0.0       0.0          0.0
2      1.0      0.0     0.0          0.0   0.0       0.0          0.0

In [17]:
# remove rows with all signal = 0
signal_df = signal_df.replace(0, np.nan)
signal_df = signal_df.dropna(how='all', axis=0)
signal_df = signal_df.replace(np.nan, 0)
idx_list = list(signal_df.index.values)
print(len(idx_list))

656

In [18]:
# keep only the indexes of rows with at least 1 signal
df = df.iloc[idx_list]
df.head(3)

   index Search Query                       Date  ... fundraising short_name  match
0      0      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance    1.0
1      1      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance    1.0
2      2      Binance  2021-05-27 22:50:00+00:00  ...         0.0    Binance    1.0

[3 rows x 14 columns]

In [19]:
# aggregate data together by a multi-index of search query, followed by index
# this is for the purpose of grouping up continuous texts together later on (e.g. 2731, 2732, 2733)

final_df = df.groupby(['Search Query','index']).agg({
                'article': '.'.join,
                'URL': list
            })
final_df = pd.DataFrame(final_df)
final_df.head(10)

                                                              article                                                URL
Search Query index
17Live       2731   Part of the relief act could be used to pay fo...  [https://www.taipeitimes.com/News/editorials/a...
             2732   On Friday last week, a teacher at Taipei Munic...  [https://www.taipeitimes.com/News/editorials/a...
             2733   While that was creative, it also speaks to a l...  [https://www.taipeitimes.com/News/editorials/a...
             2737   Increased relief funds are a positive developm...  [https://www.taipeitimes.com/News/editorials/a...
Aruna        1545   In a letter addressed to the Nigeria Olympic C...  [https://guardian.ng/sport/ittfs-wild-card-giv...
             1546   Speaking on the new development, NTTF Caretake...  [https://guardian.ng/sport/ittfs-wild-card-giv...
             1547   “When Aruna got injured during the African Qua...  [https://guardian.ng/sport/ittfs-wild-card-giv...
             1548   “Despite the setback in Tunisia, Aruna did not...  [https://guardian.ng/sport/ittfs-wild-card-giv...
             1549   So far, 64 players have been confirmed to take...  [https://guardian.ng/sport/ittfs-wild-card-giv...
             1550   Gaudium Sportopia centre for excellence to be ...  [https://www.thehindu.com/sport/other-sports/g...

In [ ]:
# reset the index so that we obtain the multi-indexes as columns instead
final_df.reset_index(inplace=True)
final_df.head(3)

  Search Query  ...                                                URL
0       17Live  ...  [https://www.taipeitimes.com/News/editorials/a...
1       17Live  ...  [https://www.taipeitimes.com/News/editorials/a...
2       17Live  ...  [https://www.taipeitimes.com/News/editorials/a...

[3 rows x 4 columns]

In [ ]:
final_df.rename(columns={'index':'old_index'}, inplace=True)
final_df.reset_index(inplace=True)
final_df.head(3)

   index  ...                                                URL
0      0  ...  [https://www.taipeitimes.com/News/editorials/a...
1      1  ...  [https://www.taipeitimes.com/News/editorials/a...
2      2  ...  [https://www.taipeitimes.com/News/editorials/a...

[3 rows x 5 columns]

In [ ]:
# create a new empty column for input of values during iterrows 
final_df['new_index'] = np.nan

# this section is the part where we will use the following logic to join continuous texts together (e.g. 2731, 2732, 2733)
# firstly, if it is the first row, we will just keep the old index as the new index
# if not, we will implement the following logic:
# if the old index of the current row is +1 away from the previous row, we set the new index of current row to be same as previous row
# else, the new index will be set as old index
# in this way, all continuous indexes will be set with the same new index, for grouping together later on
for idx,row in final_df.iterrows():
  if idx == 0:
    final_df.loc[idx, 'new_index'] = row['old_index']

  else:
    previous = final_df.loc[idx-1, 'old_index']
    if row['old_index'] == previous + 1:
      final_df.loc[idx, 'new_index'] = final_df.loc[idx-1, 'new_index']

    else:
      final_df.loc[idx, 'new_index'] = final_df.loc[idx, 'old_index']

final_df.head()

   index  ... new_index
0      0  ...    2731.0
1      1  ...    2731.0
2      2  ...    2731.0
3      3  ...    2737.0
4      4  ...    1545.0

[5 rows x 6 columns]

In [ ]:
df = final_df.groupby(['Search Query','new_index']).agg({
                'article': '.'.join,
                'URL': sum # use sum to join lists together
            })
df = pd.DataFrame(df)
df.head()

                                                                  article                                                URL
Search Query new_index
17Live       2731.0     Part of the relief act could be used to pay fo...  [https://www.taipeitimes.com/News/editorials/a...
             2737.0     Increased relief funds are a positive developm...  [https://www.taipeitimes.com/News/editorials/a...
Aruna        1545.0     In a letter addressed to the Nigeria Olympic C...  [https://guardian.ng/sport/ittfs-wild-card-giv...
             1562.0     By Express News Service CHENNAI: The Tamil Nad...  [https://www.newindianexpress.com/states/tamil...
             1577.0     "A maximum of 9 sanitary pads would be given t...  [https://www.5dariyanews.com/news/326724-Aruna...

In [ ]:
df.to_csv('data/180621_grouped.csv')